.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    /* background-color: #fff; */
    padding: 20px;
    font-family: 'Nunito', sans-serif;
  }
  
  .box {
    /* background-color: #fff; */
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .header {
    font-size: 2.5rem;
    color: #FF9801;
    margin-bottom: 20px;
  }
  
  .message {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  .button {
    font-size: 1rem;
    /* color: #fff; */
    background-color: #FF9801;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    transition: ease 0.3s, box-shadow 0.3s ease;
  }
  
  .button:hover {
    box-shadow: 0px 2px 15px 1px rgba(252, 167, 40, 0.495);
    transform: translateY(-5px);
    cursor: pointer;
  }
  